# ─── ML Server Config ─────────────────────────────────────────
PORT=8000

# ─── Firebase ─────────────────────────────────────────────────
# Path to serviceAccountKey.json
FIREBASE_CREDENTIALS_PATH=../backend/config/serviceAccountKey.json

# ─── Saved model path ─────────────────────────────────────────
MODELS_DIR=./models
